<h2 mat-dialog-title>Case Client</h2>

<mat-dialog-content>
    <h6>Hesap Oluştur</h6>
    <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">

        <mat-form-field style="margin-bottom: 5px; width: 100%;">
            <mat-label>Başlık</mat-label>
            <input formControlName="title" matInput placeholder="Başlık giriniz">
            @if (title!.hasError("required")) {
            <mat-error>Başlık alanı zorunludur</mat-error>
            }
        </mat-form-field>

        <button style="width: 100%;" mat-flat-button type="submit">Oluştur</button>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onClose()">Kapat</button>
</mat-dialog-actions>