<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <mat-card appearance="outlined" style="margin-top: 180px; padding: 30px;">
        <mat-card-header>
          <mat-card-title> Case Client</mat-card-title>
          <mat-card-subtitle>Giriş Yap</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <mat-form-field style="margin-bottom: 5px; width: 100%;">
              <mat-label>Kullanıcı Adı</mat-label>
              <input formControlName="userName" matInput placeholder="Kullanıcı adı giriniz">
              @if (userName!.hasError("required")) {
              <mat-error>Kullanıcı adı alanı zorunludur</mat-error>
              }
            </mat-form-field>

            <mat-form-field style="margin-bottom: 10px; width: 100%;">
              <mat-label>Parola</mat-label>
              <input formControlName="password" type="password" matInput placeholder="Parola giriniz">
              @if (password!.hasError("required")) {
              <mat-error>Parola alanı zorunludur</mat-error>
              }
            </mat-form-field>

            <button style="width: 100%;" mat-flat-button type="submit">Oturum Aç</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>