<mat-card appearance="outlined" class="m-3">
    <mat-card-header>
        <mat-card-title>
            {{transaction.createdDate|date:"dd/MM/yyyy"}}
        </mat-card-title>
        <mat-card-subtitle>
            {{transaction.description}}
            <button mat-button (click)="openDetailDialog(transaction)">Detayları Göster</button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-5 text-center">

                    <h3 [ngClass]="{
                        'text-danger':!(transaction.updatedBalance - transaction.balance >= 0)
                    }">
                        @if(!(transaction.updatedBalance - transaction.balance >= 0)){
                        <span>-</span>
                        }₺{{transaction.amount}}
                    </h3>
                </div>
                <div class="col-2 text-center">
                    |
                </div>
                <div class="col-5 text-center">
                <h3>₺{{transaction.updatedBalance}}</h3>
                <h5>Güncel Bakiye</h5>
            </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>