<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>Case Client</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button> -->
    <button (click)="logout()" mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col">
            <app-accounts></app-accounts>
        </div>
    </div>
</div>